.button--header{
	@include textStyle('lato', 1rem, 400);
	background:transparent;
	color:$notwhite;
	border:2px solid $notwhite;
	border-radius:3px;
	text-transform:uppercase;
	margin:2% 2%;
	padding:3% 7.5%;
	position:relative;
	transition:0.3s all ease;
	line-height:12px;
	&:hover{
		background:$red;
		border:2px solid $red;
		color:white;
	}
	
}
.button__video::before{
	content:"";
	position:absolute;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid $notwhite;
	top:51%;
	transform:translateY(-49%);
	left:15px;
	color:$notwhite;
}

.button--work{
	@include textStyle('lato', 0.8rem, 600);
	text-transform:uppercase;
	width:175px;
	background:transparent;
	color:$greyp3;
	border:2px solid $greyp3;
	margin:0 2%;
	border-radius:25px;
	padding:3% 5%;
	transition:0.3s all ease;
	&:hover{
		background:$red;
		border:2px solid $red;
		color:white;
	}
}

.button__red{
	width:90%;
	background: $red;
	color:white;
	text-transform:uppercase;
	font-weight:600;
	padding:5%;
	border:none;
	transition:0.3s all ease;
	letter-spacing:1px;
	border-radius:3px;
	&:hover{
		color:$grey;
		background:darken($red,25%);
	}
}
.button__submit{
	color:white;
	margin:2% 0;
	text-transform:uppercase;
	font-weight:600;
	width:auto;
	letter-spacing:1px;
}
.button__getquote{
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	flex:0 0 31%;
	color:white;
	background:transparent;
	border:1px solid white;
	border-radius:5px;
	padding:1% 2%;
	transition:0.3s all ease;
	&:hover{
		border:1px solid $red;
		background:$red;
	}
}
.dots__container{
	display:flex;
}
.dots__white{
	margin:0 7px;
	width:7px;
	height:7px;
	border-radius:50%;
	background:white;
	opacity: 0.5;
	cursor:pointer;
}
.dots__active{
	opacity:1;
}

//slick dots red styling.
.slick-dots li button{
	transform:scale(1.5);
}

.slick-dots li.slick-active button:before{
	color:$red;
}
.slick-dots li button:before{
	color:$red;
}
.slick-dots li.slick-active button:before{
	color:$red;
	opacity:0.9;
}