//white
$notwhite:rgba(255,255,255, 0.65);

//highlight red//
$red: #FF503F;

//team & work backgrounds//
$grey: #eaeff3;
$black: #445158;

//header//
$darkblue: #040E18;

//greys
$greyh: #445158;
$greyp: #a3afb5;
$greyp2: #bbc5ca;
$greyp3: #a1aeb5;


//best-cases//
$aqua: #D5EEE8;
$peagreen: #FAFBEB;
$pink: #F3E9F4;
$lightblue: #EAF8FB;
$teal: #53BFC2;

//prices//
$green: #9FC050 ;

//footer social icons//
$facebook: #6588D3;
$twitter: #55acee;
$vimeo: #1ab7ea;
$flickr: #0063dc;
$pinterest: #cc2127;
$dribbble: #ea4c89;
$footerbg:#23272a;


//fonts//
$lato: 'Lato';
$georgia: 'Georgia';